@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.stage-name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 40px;

  .stage-name {
    margin: 0;
  }

  svg {
    height: 30px;
    fill: $color-primary;
    margin-right: 10px;
  }
}

.category-title {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
    opacity: .8;
  }

}

.category-links {
  width: 100%;
  margin: 50px 0;
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;

  a {
    color: $color-gray;
    padding: $input-padding;
    text-align: center;
    font-size: 17px;
    background: $color-white;
    flex: auto;
    margin: 10px;
    box-shadow: $box-shadow;
    border-radius: $border-radius-large;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }

  }

  @media all and (max-width: $screen-md-min) {
    padding: 0 100px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 0 20px;
  }

}

.category-logo {
  height: 36px;
  margin-right: 16px;
}
